/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color:  #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --text-color: #f1b2ce;
  --header-section-text-color: #ff0070;
  --header-section-subtitle-color:#000028;
  --header-section-bg-color: #ff0070;
  --nav-color: #ff0070;
  --nav-hover-color: #ff007066;
  --decoration-color: #ff0070;
  --shadow-color: #ff0070;
}

.theme-dark .header__decoration_dark {
  display: grid;
}
