/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --text-color: #353430;
  --header-section-text-color: #353430;
  --header-section-subtitle-color: #353430;
  --header-section-bg-color: #ff8dcb;
  --nav-color: #353430;
  --nav-hover-color: #32312d66;
  --decoration-color: #353430;
  --shadow-color:  #ff8dcb;
}

.theme-light .header__decoration_dark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --text-color: #353430;
    --header-section-text-color: #353430;
    --header-section-subtitle-color: #353430;
    --header-section-bg-color: #ff8dcb;
    --nav-color: #353430;
    --nav-hover-color: #32312d66;
    --decoration-color: #353430;
    --shadow-color:  #ff8dcb;  
  }

  .header__decoration_dark {
    display: none;
  }
}
